/* css reset base.css */
html,legend{color:#000;}
html{background:#ffffff}
html,body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,form,fieldset,legend,input,select,textarea,button,caption,th,td,blockquote,pre{margin:0;padding:0;}
body { font-size: 12px; font-family:SimSun,Arial,sans-serif; color: #333;}
input,select,textarea,button{vertical-align:middle;font-size:100%;font-family:Arial,sans-serif;outline:none}
/*h1,h2,h3,h4,h5,h6,*/strong,th,b{font-weight:normal}
/*h1,h2,h3,h4,h5,h6{font-size:14px;}*/
li{list-style:none}
td,th{vertical-align:top;text-align:left;}
table{border-spacing:0}
caption,th{text-align:left}
fieldset,image{border:0}
address,cite,dfn,em,var,i{font-style:normal}
code,dfn,kbd,samp,tt,var,pre{font-family:monospace}
del,ins,s{text-decoration:none}
small{font-size:100%}
a img{border:none;}
a{color:#0055cc;text-decoration:none;outline:none}
a:hover{text-decoration:underline;color:#f60;}
.f60{color:#f60;}
.for_song{ font-family:SimSun;}
.clearfix:after {clear: both;content: ".";display: block;height: 0;line-height: 0;visibility: hidden;}
* html .clearfix {zoom: 1;}
*:first-child + html .clearfix {zoom: 1;}
.floatL,.fl{float: left;}
.floatR,.fr{float: right;}
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mt10,.marT10{margin-top: 10px;}
.mr10{margin-right: 10px;}
.pl10{padding-left:10px ;}
.f666{color: #666;}
.f14{font-size: 14px;}
.none{display: none;}
.clear_float {clear: both;font-size: 1px;height: 0;line-height: 1;overflow: hidden;width: 0;}
.inline {display: inline-block;*display: inline;zoom: 1; }

body{
  background-color: #f5f5f5;
}
a{
  color: #666;
  font-family: SimSun;
}
a:hover{
  text-decoration: underline;
  color: #3DAE44;
}

/* bootstrap reset */
.col-xs-1, .col-xs-2, .col-xs-3, 
.col-xs-4, .col-xs-5, .col-xs-6, 
.col-xs-7, .col-xs-8, .col-xs-9, 
.col-xs-10, .col-xs-11, .col-xs-12, 
.col-sm-1, .col-sm-2, .col-sm-3, 
.col-sm-4, .col-sm-5, .col-sm-6, 
.col-sm-7, .col-sm-8, .col-sm-9, 
.col-sm-10, .col-sm-11, .col-sm-12, 
.col-md-1, .col-md-2, .col-md-3, 
.col-md-4, .col-md-5, .col-md-6, 
.col-md-7, .col-md-8, .col-md-9, 
.col-md-10, .col-md-11, .col-md-12, 
.col-lg-1, .col-lg-2, .col-lg-3, 
.col-lg-4, .col-lg-5, .col-lg-6, 
.col-lg-7, .col-lg-8, .col-lg-9, 
.col-lg-10, .col-lg-11, .col-lg-12 {
    padding: 0;
}
.container{
  width: 1200px;
  padding: 0 15px;
}
.dropdown-menu,
.dropdown-menu>li{
  min-width: inherit;
}
.row{
  margin: 0;
}
.form-control:focus{
  border-color: #3DAE44;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(61, 174, 68, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(61, 174, 68, .6);
}
.popover{
  padding: 3px;
  border-color: #3DAE44;
}
.popover-title{
  display: none;
}
.popover.right>.arrow{
  border-right-color:#3DAE44;
}
.popover.left>.arrow{
  border-left-color:#3DAE44;
}
.popover.top>.arrow{
  border-top-color:#3DAE44;
}
.popover.bottom>.arrow{
  border-bottom-color:#3DAE44;
}
.bg-gray{
  background-color: #eaeaec !important;
}
.bg-black{
  background-color: #222222 !important;
}
.bg-red{
  background-color: #f56954 !important;
}
.bg-yellow{
  background-color: #f39c12 !important;
}
.bg-aqua{
  background-color: #00c0ef !important;
}
.bg-blue{
  background-color: #0073b7 !important;
}
.bg-light-blue{
  background-color: #3c8dbc !important;
}
.bg-green{
  background-color: #00a65a !important;
}
.bg-navy{
  background-color: #001f3f !important;
}
.bg-teal{
  background-color: #39cccc !important;
}
.bg-olive{
  background-color: #3d9970 !important;
}
.bg-lime{
  background-color: #01ff70 !important;
}
.bg-orange{
  background-color: #ff851b !important;
}
.bg-fuchsia{
  background-color: #f012be !important;
}
.bg-purple{
  background-color: #932ab6 !important;
}
.bg-maroon{
  background-color: #85144b !important;
}
.text-red{
  color: #f56954 !important;
}
.text-yellow {
  color: #f39c12 !important;
}
.text-aqua{
  color: #00c0ef !important;
}
.text-blue{
  color: #0073b7 !important;
}
.text-black{
  color: #222222 !important;
}
.text-light-blue{
  color: #3c8dbc !important;
}
.text-green{
  color: #00a65a !important;
}
.text-navy{
  color: #001f3f !important;
}
.text-teal{
  color: #39cccc !important;
}
.text-olive{
  color: #3d9970 !important;
}
.text-lime{
  color: #01ff70 !important;
}
.text-orange {
    color: #ff851b !important;
}
.text-fuchsia{
  color: #f012be !important;
}
.text-purple{
  color: #932ab6 !important;
}
.text-maroon{
  color: #85144b !important;
}
.alert{
  position: absolute;
  z-index: 1;
  white-space: nowrap;
  margin: 0 15px;
  padding: 4px 10px;
  line-height: 24px;
  font-size: 12px;
}
.alert .glyphicon{
  vertical-align: -3px;
  top: 0px;
  margin: 0 5px;
  font-size: 14px;
}
/* common css*/

/* header */
#header{
  width: 100%;
  margin-bottom: 15px;
}
#header .c-top-navbar{
  width: 100%;
  height: 30px;
  border:none;
  background-color:#fafafa; 
  font: 12px/20px SimSun;
  border-bottom: 1px solid #ddd;
}


#header .c-top-navbar .navbar-nav>li>a,
#header .c-top-navbar .navbar-nav>li>a:focus {
  padding: 5px 15px;
  color: #999;
  background-color: transparent;
}
#header .c-top-navbar .navbar-nav>li>a:hover{
  /*color: #0c8f44;*/
  color: #3DAE44;
}
#header .navbar-brand{
  height: inherit;
}
#header .c-top-navbar .navbar-brand{
  padding: 5px 15px;
  font: 12px/20px SimSun;
  color: #999;
}
#header .c-top-userbar .c-user-prefix,
#header .c-top-userbar .c-user-name{
  display: inline-block;
  color: #999;
}
#header .c-top-navbar .c-user-name{
/*  color: #666 !important;*/
  padding-left: 0 !important;
}
#header .c-top-navbar .navbar-nav>li>.dropdown-menu{
  border-radius: 0; 
}
#header .c-top-navbar .dropdown-menu>li>a{
  font: 12px/20px Microsoft YaHei;
  padding: 0px 15px;
  color: #666;
  text-align: center;
}
#header .c-top-navbar .dropdown .dropdown-menu:before,
#header .c-top-navbar .dropdown .dropdown-menu:after{
  position: absolute;
  top: -8px;
  right: 16px;
  display: block;
  content: " ";
  width: 0;
  height: 0;
  border-bottom: 8px solid #fff;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
#header .c-top-navbar .dropdown .dropdown-menu:before{
  border-bottom-color:#ccc; 
}
#header .c-top-navbar .dropdown .dropdown-menu:after{
  top: -7px;
}

#header .c-search-navbar{
  margin-top:34px;
  margin-right: 0px;
}
#header .c-search-navbar .input-group{
  width: 200px;
}
#header .c-search-navbar .input-group>.form-control{
  animation: inputBlur 1s;
  -moz-animation: inputBlur 1s; /* Firefox */
  -webkit-animation: inputBlur 1s;  /* Safari 和 Chrome */
  -o-animation: inputBlur 1s; /* Opera */
  position: absolute;
  width: 100%;
  right:0px;
  border-radius: 3px;
}
#header .c-search-navbar .input-group>.form-control:focus{
  animation: inputFocus 1s;
  -moz-animation: inputFocus 1s; /* Firefox */
  -webkit-animation: inputFocus 1s;  /* Safari 和 Chrome */
  -o-animation: inputFocus 1s; /* Opera */
  width: 200%;
}
#header .c-search-navbar .input-group>.input-group-btn{
  position: absolute;
  right: 1px;
  top: 1px;

}
#header .c-search-navbar .input-group>.input-group-btn button.btn,
#header .c-search-navbar .input-group>.input-group-btn button.btn:focus{
  border: none;
  background-color: transparent;
  color: #999;
}
#header .c-search-navbar .input-group>.input-group-btn button.btn:hover{
  background-color: transparent;
  color: #343434;
}
#header .c-bottom-navbar{
  background-color:#2C3345;
  height: 40px;
 
  width: 100%;
}
#header .c-bottom-navbar .navbar-nav>li>a,
#header .c-bottom-navbar .navbar-nav>li>a:focus{
  color: #fff;
  padding: 0 24px;
  font:18px/40px Microsoft YaHei;
  background-color: transparent;
}
#header .c-bottom-navbar .navbar-nav>li>a:hover,
#header .c-bottom-navbar .navbar-nav>li.open>a{
  background-color: #3DAE44;
}
#header .c-bottom-navbar .dropdown-menu>li>a,
#header .c-bottom-navbar .dropdown-menu > li > a:focus{
  text-align: center;
  font: 16px/36px Microsoft YaHei;
  padding: 0 35px;
  background-color:transparent;
  color: #666;
}
#header .c-bottom-navbar .dropdown-menu > li > a:hover{
  color: #3DAE44;
  text-decoration: none;
  background-color: transparent;
}
#header .c-bottom-divider{
  border-top: 1px solid #ddd;
}
/*#header .c-top-navbar .container,
#header .c-bottom-navbar .container{
  width: 1200px;
  padding: 0;
}*/


/*  footer  */
#footer{
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 100px;
  color: #767676;
  text-align: center;
  border-top: 1px solid #ddd;
  font-family: Micosoft YaHei;
  background-color: #fafafa;
}
#footer .footer-links {
  padding-left: 0;
  margin-top: 20px;
}
#footer .footer-links li {
  display: inline;
  padding: 0 2px;
}
#footer .footer-links li:first-child {
  padding-left: 0;
}


@keyframes inputFocus
{
  from {width: 100%;}
  to {width: 200%;}
}
@keyframes inputBlur
{
  from {width: 200%;}
  to {width: 100%;}
}

@-moz-keyframes inputFocus /* Firefox */
{
 from {width: 200px;}
  to {width: 400px;}
}
@-moz-keyframes inputBlur
{
  from {width: 200%;}
  to {width: 100%;}
}

@-webkit-keyframes inputFocus /* Safari 和 Chrome */
{
 from {width: 200px;}
  to {width: 400px;}
}
@-webkit-keyframes inputBlur
{
  from {width: 200%;}
  to {width: 100%;}
}

@-o-keyframes inputFocus /* Opera */
{
 from {width: 200px;}
  to {width: 400px;}
}
@-o-keyframes inputBlur
{
  from {width: 200%;}
  to {width: 100%;}
}