.h-row{
	margin-bottom: 10px;
}
.ui-slideshow-box{
	position: relative;
	float: left;
	width: 830px;
	height: 410px;
	margin-right: 20px;
}
.ui-slideshow,.ui-slideshow-item,
.ui-slideshow-item a,.ui-slideshow-item img{
	float: left;
	width: 830px;
	height: 410px;
}
.ui-slideshow-nav li.selected a{
	background-color: #3DAE44;
}
.h-ad-content{
	float: left;
	width: 320px;
	height: 410px;
	/*overflow: hidden;*/
}
.h-ad-content a{
	float: left;
	width: 320px;
	height: 95px;
	margin-bottom: 10px;
}
.h-ad-content img{
	float: left;
	width: 320px;
	height: 95px;
}
.h-ad-content a:last-child{
	margin-bottom: 0;
}
.h-ad-content a:hover{
	box-shadow: 0 0 12px #3DAE44;
	-moz-box-shadow:0 0 12px #3DAE44;
	-webkit-box-shadow:0 0 12px #3DAE44;
}

.h-list{
	padding: 10px;
	border: 1px solid #ddd;
	margin-bottom: 15px;
	float: left;
	background-color: #fff;
}
.h-list-nav{
	margin-left: -11px;
	border-left: 3px solid #3DAE44;
	margin-bottom: 10px;
}
.h-list-nav .navbar-brand{
	padding: 0px;
	height: inherit;
	font-family: Microsoft YaHei;
	padding: 8px 20px; 
}
.h-list-nav .navbar-nav>li{
	padding: 9px 25px 5px 0;
}
.h-list-nav .navbar-nav>li>a{
	padding: 0;
  	color: #999;
  	background-color: transparent;
  	font-size: 14px;
}
.h-list-nav .navbar-nav>li>a:hover{
	color: #3DAE44;
}
.h-list-nav .btn-primary{
	font-size: 12px;
	padding: 2px 15px;
	line-height: 20px;
	font-weight: bold;
	margin-top: 5px;
	background-color: #3DAE44;
	border-color: #3DAE44;
}
.h-list-nav .btn-primary:hover{
	background-color: #399907;
	border-color: #399907;
}
.h-list-nav .navbar-right>li{
	padding: 5px 20px;
}

.h-list-nav .dropdown > a:focus{
	color: #999;
	background-color: transparent;
}
.h-list-pro a.thumbnail{
	margin: 5px;
}
.h-list-pro a.thumbnail:hover,
.h-list-pro a.thumbnail:focus,
.h-list-pro a.thumbnail.active {
	border-color: #3DAE44;
	text-decoration: none;
/*	box-shadow: 0 0 12px #3DAE44;
	-moz-box-shadow:0 0 12px #3DAE44;
	-webkit-box-shadow:0 0 12px #3DAE44;*/
}
.h-list-pro a.thumbnail .caption {
	text-align: center;
	vertical-align: middle;
}
.h-list-pro a.thumbnail .glyphicon{
	font-size: 16px;
	display: inline-block;
	vertical-align: middle;
	color: #3DAE44;
}
.h-list-pro .h-pro-pop{
	display: none;
}
.h-row-ad  a.thumbnail{
	border: none;
	padding: 0px;
}
.h-row-ad a.thumbnail:hover,
.h-row-ad a.thumbnail:focus,
.h-row-ad a.thumbnail.active {
	box-shadow: 0px 0px 12px #3DAE44;
	-moz-box-shadow:0px 0px 12px #3DAE44;
	-webkit-box-shadow:0px 0px 12px #3DAE44;
}
.h-news{

	float: left;
}
.h-news .h-list-nav{
	margin-left: -1px;
	overflow: hidden;
	margin-top: 8px;
	margin-bottom: 5px;
}
.h-news .h-news-box{
	border: 1px solid #ddd;
	background-color: #fff;
}
.h-news .h-news-left{
	padding-right: 15px;

}
.list-group{
	margin-bottom: 10px;
}
.list-group-item{
	border-color: transparent;
	font-size: 14px;
}
a.list-group-item,
button.list-group-item {
  color: #333;
}
a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
  color: #3DAE44;
  text-decoration: none;
  background-color: transparent;
}